@font-face {
    font-family: 'JetBrains Mono';
    src: url(/sources/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf);
}

:root {
    --verde-claro: #99DB49;
    --verde-escuro: #069E8C;
    --rosa: #9e064a;
    --brancozada: #fff;
    --bgcolor-body: #211D19;

    --padding-padrao: 20px;
    --margin-padrao: 20px;

    --border-bottom-nav: rgba(255, 255, 255, .2);
    --border-grosso: 15px solid;

    --font-body: JetBrains Mono;
    --font-size-padrao: 16pt;
}

body {
    font-family: JetBrains Mono;
    font-size: 10pt;
}