@import "tailwindcss";

:root {
  --primary: #5448c8;
  --secondary: #fffecb;
  --tertiary: #423e3b;
  --quartiary: #fea82f;
  --rojo: #c3423f;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-abeezee);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #5448c8;
    --secondary: #fffecb;
    --tertiary: #423e3b;
    --quartiary: #fea82f;
    --rojo: #c3423f;



  }
}

body {
  background: var(--secondary);
  color: var(--secondary);
  font-family: var(--font-abeezee), sans-serif;
  font-size: 12pt;
  font-weight: 400;
}